<section>
	<div class="page-header">
		<h1 data-ng-bind="ctrl.article.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="ctrl.authentication.user._id == ctrl.article.user._id">
		<a class="btn btn-primary" data-ui-sref="editArticle({articleId: ctrl.article._id})">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="ctrl.remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small class="text-muted">
		Posted on
		<span data-ng-bind="ctrl.article.created | date:'mediumDate'"></span>
		by
		<span data-ng-bind="ctrl.article.user.displayName"></span>
	</small>
	<p class="lead" data-ng-bind="ctrl.article.content"></p>
</section>
